body {
  background: url("https://media.istockphoto.com/id/1148187404/vector/cloud-cute-seamless-pattern.jpg?s=612x612&w=0&k=20&c=frGl7r2LPhDoiIfL3LG8uk1FEKwW2qAHpY5OvhkWzxU=");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px 0;
  height: 100vh;
}

.weatherBox {
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: azure;
}

.buttonBox {
  background-color: black;

  padding: 20px;
  border-radius: 40px;
}
